{% extends "base.html" %}

{% block content %}

    <div class="card big-light">
                        <div class="card-header">Mobile Entry</div>
                        <div class="card-body">
                            <form method="post" action="">

                            <div class="row">
                                <div class="col-md-6">
                                       <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Company</span>
                                </div>
                                <input class="form-control" aria-describedby="inputGroup-sizing-sm" aria-label="Large" type="text">
                            </div>
                                       <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Model</span>
                                </div>
                                <input class="form-control" aria-describedby="inputGroup-sizing-sm" aria-label="Large" type="text">
                            </div>
                                             <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
                                </div>
                                <input class="form-control" aria-describedby="inputGroup-sizing-sm" aria-label="Large" type="text">
                            </div>

                                </div>
                                 <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Year</span>
                                </div>
                                <input class="form-control" aria-describedby="inputGroup-sizing-sm" aria-label="Large" type="text">
                            </div>
                                        <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Color</span>
                                </div>
                                <input class="form-control" aria-describedby="inputGroup-sizing-sm" aria-label="Large" type="text">
                            </div>

                                 </div>
                            </div>

                            </form>




                        </div>
                    </div>








{% endblock content %}