{% extends "base.html" %}

{% block content %}

    <div class="card big-light">
                        <div class="card-header">Mobile Entry</div>
                        <div class="card-body">
                            <form method="post" action="">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label>Company</label>
                                    <input class="form-control" required="" type="text">
                                     </div>
                                        <div class="form-group">
                                    <label>Model</label>
                                    <input class="form-control" required="" type="text">
                                     </div>
                                     <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" required="" type="text">
                                     </div>

                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                    <label>Color</label>
                                    <input class="form-control" required="" type="text">
                                     </div>
                                        <div class="form-group">
                                    <label>Condition</label>
                                    <input class="form-control" required="" type="text">
                                     </div>

                                     <div class="form-group">
                                    <label>Custom Format (dd/mm/yyyy)</label>

                                        <input class="form-control" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    
                                </div>

                                </div>



                            </div>

                            </form>




                        </div>
                    </div>








{% endblock content %}