{% extends "base.html" %}

{% block content %}

    <div class="card big-light">
                        <div class="card-header">Mobile Entry</div>
                        <div class="card-body">
                            <form method="post" action="">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label>Company</label>
                                    <input class="form-control" required="" name="company" type="text">
                                     </div>

                                    <div class="form-group">
                                    <label>Condition</label>
                                    <input class="form-control" required="" name="condition" type="text">
                                     </div>



                                </div>
                                 <div class="col-md-4">

                                      <div class="form-group">
                                    <label>Model</label>
                                    <input class="form-control" required="" name="modelno" type="text">
                                     </div>
                                     <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" required="" name="price" type="text">
                                     </div>

                                     <button class="btn btn-outline-info align-center" type="submit">Add Entry</button>





                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label>Color</label>
                                    <input class="form-control" required="" name="color" type="text">
                                     </div>

                                       <div class="form-group">
                                    <label>Buy Date</label>

                                        <input class="form-control" name="date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                                </div>
                                </div>

                            </div>






                            </form>
                        </div>



    <hr>


    <div class="body table-responsive">
                            <table class="table table-hover m-b-0">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Model</th>
                                        <th>Color</th>
                                        <th>Condition</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% for i in data %}
                                    <tr>
                                        <td>
                                        {{ i.company }}
                                        </td>
                                        <td>
                                             {{ i.modelno }}
                                        </td>
                                        <td>
                                             {{ i.color }}

                                        </td>
                                        <td class="text-center">
                                             {{ i.condition }}

                                        </td>
                                        <td>
                                             {{ i.price }}

                                        </td>
                                        <td >
                                            <input type="button" class="btn btn-sm" value="edit">
                                            <input type="button" class="btn btn-sm" value="delete">
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
</div>










{% endblock content %}